swagger: "2.0"
info:
  description: |
    # API para gestão do processo industrial.
    Esta API é uma prova de conceito, para uma chamada SOAP em um mock, utilizando o http://getsandbox.com
    
    API SOAP: https://sigo-soap.getsandbox.com/ProcessesService
    
    SOAP Action: http://sigo-soap.getsandbox.com/ProcessesService/GetAllProcesses
    
    A API busca os dados em SOAP, transforma para objetos, e responde em JSON.
    Exemplo de retorno do SOAP:
    ```
    <?xml version="1.0" encoding="utf-8"?>
    <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
        <soap12:Body>
            <GetProcessesResponse xmlns="https://sigo-soap.getsandbox.com/ProcessesService">
                <Processes>
                    <Process>
                        <TaskName>Processo 01</TaskName>
                        <AssignedTo>João</AssignedTo>
                        <Status>Em execução</Status>
                    </Process>
                    <Process>
                        <TaskName>Processo 02</TaskName>
                        <AssignedTo>José</AssignedTo>
                        <Status>Parado</Status>
                    </Process>
                </Processes>
            </GetProcessesResponse>
        </soap12:Body>
    </soap12:Envelope>
    ```
  version: "1.0.0"
  title: "Sigo Process"
host: "api-sigo.aw3.com.br"
basePath: "/sigo-process/v1"
tags:
- name: "processes"
  description: "Gestão de tarefas"
schemes:
- "https"
paths:
  /processes:
    get:
      tags:
      - "processes"
      summary: "Listar todos os processos"
      operationId: "getProcesses"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        "200":
          description: "Lista de processos"
          schema:
            $ref: "#/definitions/ListOfProcesses"
        "500":
          description: "Erro interno"
          schema:
            $ref: "#/definitions/ApiError"

definitions:
  Process:
    type: "object"
    properties:
      taskName:
        type: "string"
        description: "Nome da tarefa"
        example: "Processo 01"
      assignedTo:
        type: "string"
        description: "Nome do responsável"
        example: "João"
      status:
        type: "string"
        description: "Status da tarefa"
        example: "Em execução"
  
  ListOfProcesses:
    type: "object"
    properties:
      processes:
        type: array
        items:
          $ref: '#/definitions/Process'
  
  ApiError:
    type: "object"
    properties:
      status:
        type: "string"
        description: "Status do erro"
        example: "INTERNAL_SERVER_ERROR"
      message:
        type: "string"
        description: "Mensagem"
        example: "Exception"
      errors:
        type: "array"
        items:
          type: "string"
        example:
          null
  